<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Acceiul</a></li>
    <li class="breadcrumb-item active" aria-current="page">Nouvel utilisateur</li>
  </ol>
</nav>

{{#if alert}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  {{alert}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}
{{#each rows}}
<form class="row g-3 needs-validation" method="POST" action="/ModifUtilisateur/{{this.id}}" novalidate>
  {{> utilisateur-form}}
</form>
{{/each}}